#a1 {
    top: 110px;
    left: 110px;
}

#a2 {
    top: 150px;
    left: 173px;
}


/*000000000000000000000000000000000000*/

#b3 {
    top: 230px;
    left: 236px;
}

#b4 {
    top: 230px;
    left: 299px;
}

#b5 {
    top: 230px;
    left: 362px;
}

#b6 {
    top: 230px;
    left: 425px;
}

#b7 {
    top: 230px;
    left: 488px;
}

#b8 {
    top: 230px;
    left: 551px;
}

#b81 {
    top: 230px;
    left: 614px;
}

#b82 {
    top: 230px;
    left: 677px;
}

#b1 {
    top: 230px;
    left: 740px;
}

#b2 {
    top: 230px;
    left: 803px;
}


/*000000000000000000000000000000000*/

#a3 {
    top: 150px;
    left: 870px;
}

#a4 {
    top: 150px;
    left: 933px;
}

#a5 {
    top: 150px;
    left: 996px;
}

#a6 {
    top: 150px;
    left: 1059px;
}

#a7 {
    top: 150px;
    left: 1122px;
}

#a8 {
    top: 110px;
    left: 1188px;
}


/*000000000000000000000000000000000*/

#n1 {
    top: 140px;
    left: 75px;
}

#n2 {
    top: 180px;
    left: 75px;
}

#n3 {
    top: 220px;
    left: 75px;
}

#n4 {
    top: 260px;
    left: 75px;
}

#n5 {
    top: 300px;
    left: 75px;
}

#n6 {
    top: 340px;
    left: 75px;
}

#n7 {
    top: 380px;
    left: 75px;
}


/*000000000000000000000000000000000000*/

#e1 {
    top: 90px;
    left: 115px;
}

#e2 {
    top: 130px;
    left: 178px;
}

#e3 {
    top: 210px;
    left: 241px;
}

#e4 {
    top: 210px;
    left: 304px;
}

#e5 {
    top: 210px;
    left: 367px;
}

#e6 {
    top: 210px;
    left: 430px;
}

#e7 {
    top: 210px;
    left: 490px;
}

#e8 {
    top: 210px;
    left: 556px;
}

#e9 {
    top: 210px;
    left: 619px;
}

#e10 {
    top: 210px;
    left: 682px;
}

#e11 {
    top: 210px;
    left: 745px;
}

#e12 {
    top: 210px;
    left: 808px;
}

#e13 {
    top: 130px;
    left: 871px;
}

#e14 {
    top: 130px;
    left: 934px;
}

#e15 {
    top: 130px;
    left: 997px;
}

#e16 {
    top: 130px;
    left: 1060px;
}

#e17 {
    top: 130px;
    left: 1123px;
}

#e18 {
    top: 90px;
    left: 1186px;
}